.App {
  text-align: center;
}

body {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 3.9vmin;
  color: whitesmoke;
}

footer {
  font-size: 3vmin;
}

a:link{
  color: orangered
}
a:visited {
  color: violet;
}
a:hover {
  color: hotpink;
}