.auth {
    margin-left: 87%;
}

.login {
    font-family: 'Tahoma';
    color: darkgreen;
    font-weight: 500;
    font-size: 2.5vmin;
    padding: 0.6vmin;
    background-color: whitesmoke;
    border-color: black;
    border-radius: 5px;
    outline-color: black;
    transition: 0.5s;
    cursor: pointer;
}

.login:hover {
    background-color: black;
    color: greenyellow
}

.logout {
    font-family: 'Tahoma';
    color: darkred;
    font-weight: 500;
    font-size: 2.5vmin;
    padding: 0.6vmin;
    background-color: whitesmoke;
    border-color: black;
    border-radius: 5px;
    outline-color: black;
    transition: 0.5s;
    cursor: pointer;
}

.logout:hover {
    background-color: black;
    color: red
}

.small {
    font-size: 2vmin;

}